extends ../templates/default3

block content
 div(class = 'row')
   div(class = 'col-xs-2')
   div(class = 'col-xs-8')
        br
        br
        p= 'Bienvenido ' + user
        p= '¡Enorabuena has conseguido superar el ejercicio de Fuerza bruta!'
        p= 'Para el siguiente ejercicio, se ha echo uso de una expresion regular a modo de filtro que es vulnerable a un ataque que se le suele denominar reDoS (Denegacion de servicios por expresión regular).'
        p= 'Se pide al usuario informarse sobre este tipo de vulnerabilidad relacionada con las expresiones regulares y explotarla de tal modo que el servidor quede bloqueado.'
        br
        br
        br
        br
