extends ../templates/default3

block content
  div(class = 'row')
   div(class = 'col-xs-2')
   div(class = 'col-xs-8')
        br
        br
        p= 'Bienvenido ' + user
        p= '¡Enorabuena has conseguido superar el segundo ejercicio de SQLi!'
        p= 'Para el siguiente ejercicio, se ha añadido un filtro que solo permite introducir números y letras, de tal modo que una inyección sqli no es posible. Sin embargo, no se limita el número de intentos, quedando abierta la posibilidad de realizar un ataque de fuerza bruta. '
        p=' Se pide al usuario hacer uso de la herramienta thc hydra y una herramienta para capturar datos de respuesta del servidor, Como por ejemplo live HTTP Headers, para realizar un ataque de fuerza bruta haciendo uso del diccionario que se ha proporcionado "diccionario.txt"'
        br
        br
        br
        br
