extends ../templates/default3

block content
 div(class = 'row')
   div(class = 'col-xs-2')
   div(class = 'col-xs-8')
        br
        br
        p= 'Bienvenido ' + user
        p(style='color:red')= 'Esta ruta representa una zona restringida, solo para usuarios identificados. Si accedemos a ella sin estar autenticados, deberia producirse un error, debido a que los datos de usuario no estan disponibles y son necesarios.'
        br
        br
        br
        br