extends ../templates/default3

block content
  div(class = 'row')
    div(class = 'col-xs-3')
    div(class = 'col-xs-5')
      br
      br
      div(class= 'panel panel-default' style='background-color:transparent; color:green')
        div(class= 'panel-heading' style='background-color:transparent; color:green') Panel de Inicio de Sesion
        div(class= 'panel-body')
          form(action='http://localhost:3000/auth/reDoS' method='post' autocomplete='off')
            div(class='form-group')
              label(for="usuario" style='background-color:transparent; color:green')= 'Usuario'
              input(type='text' name ='usuario' id='usuario' placeholder='Usuario' class='form-control')
            div(class='form-group')
              label(for="password" style='background-color:transparent; color:green')= 'Password'
              input(type='password' name ='password' id='password' placeholder='Password' class='form-control')
            button(type="submit" class='btn btn-default') Iniciar Sesion
      if filtro.length > 0
        div(class ='alert alert-danger' role='alert')= filtro
      else
        if authmessage.length > 0
          div(class ='alert alert-danger' role='alert')= authmessage
      br
      br
      br    