// plantilla que carga recursos

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body(id='fondoAdaptado')
    include nav2
    div()
      block content
    div(id='footer')
      img(src="/images/icono1.png", alt="Pentesting", width="150px", align="left" , vspace="10px")
      img(src="/images/icono1.png", alt="Pentesting", width="150px", align="right" , vspace="10px")
      p(style='text-align:center')='Web para pentestig '
      p(style='text-align:center')='Realizada por: Federico Álvarez '