nav(class="navbar navbar-inverse")
  div(class="container-fluid")
    div(class="navbar-header")
      a(class="navbar-left")
       img(src="/images/icono5.jpg", alt="Pentesting", title="Primera foto", width="80px", align="left" , vspace="10px")
      a(class="navbar-brand" href="/" id="separar" )= 'Pagina inicial'
