extends templates/default1
//bibliografia http://aprenderaprogramar.es/index.php?option=com_content&view=article&id=813:funcion-eval-javascript-getelementsbyclassname-ejemplo-codigo-javascript-calculadora-simple-cu01133e&catid=78:tutorial-basico-programador-web-javascript-desde-&Itemid=206
block content
 div(class = 'row')
  div(class = 'col-xs-3')
    p=' En estos dos ultimos ejercicios se pide:'
    p='Por un lado informarse de la función eval() y sus peligros dejando constancia de varios ataques realizados en este sentido y por otro lado descubrir si esta funcion se encuentra en el lado del cliente o en el lado del servidor. '
    p='PISTA: Un ataque de DoS(Denegación de servicios) deberia ser suficiente para lograr identificar donde se encuentra la función'
  div(class = 'col-xs-4')
    style(type='text/css').
      body {font-family: sans-serif;}
      #contenido {margin-bottom:11px;}
      #calculadora { font: bold 14px Arial,sans-serif; background-color: trasparent;  border-radius: 3px; border-style:solid; height: 300px; width: 400px; margin: 20px auto;
      padding: 20px 20px 9px; }
      .parteSuperior .pantalla { background-color: rgba(0, 0, 0, 0.2); border-radius: 3px; color: #FFFFFF; float: right; font-size: 17px; height: 40px; letter-spacing: 1px; line-height: 40px; padding: 0 10px; text-align: right; width: 180px;}
      .teclas, .parteSuperior {overflow: hidden; }
      .teclas span, .parteSuperior span.limpiar {     background-color: #FFFFFF; border-radius: 3px; color: #888888; cursor: pointer;
      float: left; height: 36px; line-height: 36px; margin: 0 7px 11px 0; text-align: center; transition: all 0.4s ease 0s; width: 66px;}
      .parteSuperior span.limpiar { background-color:#FF7C87;}
      .teclas span.operador { background-color: #FFDAB9; margin-right: 0; }
      .teclas span.igual { background-color: #F1FF92; color: #888E5F;}
      .parteSuperior span.limpiar, { background-color: #FF9FA8; color: #FFFFFF; }
      .teclas span:hover, .teclas span.igual:hover, .parteSuperior span.limpiar:hover {
      background-color: #9C89F6; color: #FFFFFF;
      }
    script(type='text/javascript').
      function calcular () {
        var input = document.getElementById('contenido').value;
        document.getElementById('contenido').value =eval(input);
      }
      function pulsada (tecla) {
        document.getElementById('contenido').value=document.getElementById('contenido').value + tecla;
      }
    // Calculadora
    #calculadora
      // pantalla y tecla limpiar
      .parteSuperior
         input(type='contenido' name ='contenido' id='contenido' placeholder='Expresión aritmética' class='form-control')
      
      .teclas
        // operadores y otras teclas
        span(onclick="pulsada('7')") 7
        span(onclick="pulsada('8')") 8
        span(onclick="pulsada('9')") 9
        span.operador(onclick="pulsada('+')") +
        span(onclick="pulsada('4')") 4
        span(onclick="pulsada('5')") 5
        span(onclick="pulsada('6')") 6
        span.operador(onclick="pulsada('-')") -
        span(onclick="pulsada('1')") 1
        span(onclick="pulsada('2')") 2
        span(onclick="pulsada('3')") 3
        span.operador(onclick="pulsada('/')") ÷
        span(onclick="pulsada('0')") 0
        span(onclick="pulsada('.')") .
        span.operador(onclick="pulsada('*')") x
        button(type="submit" onclick="calcular()" class='btn btn-default') Calcular
